body{
    margin: 0%;
    background-color:darkgray;
}


.main-head{
    font-size: 50px;
    font-family: 'poppins';
   padding-left: 50px;
}
.image{
    padding-left: 100px;
}

.box{
    position: absolute;
   top: 50px;
    right: 10%;
    height: 600px;
    width: 420px;
    border: 3px solid rgb(209, 54, 54);
    font-family: 'Poppins';
    font-size: 20px;
    padding-left: 50px;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
}
.head{
    font-size: 30px;
}
.name{
    height: 30px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(15, 152, 152);
}
.gender{
  margin-top: 10px;
  margin-bottom: 20px;
}

.female{
 padding-left: 30px; 

}
.others{
padding-left: 30px;
}
.address{
    height: 30px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(15, 152, 152);
}
.date{
    height: 30px;
    width: 352px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(15, 152, 152);
}
.age{
 position: absolute;
 margin-top: 10px;
 margin-bottom: 10px;
}
.blood-group{
position: relative;
display: inline-block;
margin-left: 190px;
margin-top: 10px;
margin-bottom: 10px;

}
.age1{
height: 30px;
width: 160px;
margin-top: 10px;
border-radius: 5px;
font-size: 15px;
border-color: rgb(15, 152, 152);
}
.blood-group1{
height: 30px;
width: 160px;
margin-top: 10px;
border-radius: 5px;
font-size: 15px;
border-color: rgb(15, 152, 152);
}
.submit{
height: 35px;
width: 357px;
font-size: 15px;
margin-top: 10px;
border-radius: 5px;
background-color: rgb(85, 32, 177);
color: white;
border-color: rgb(0, 0, 0);
}
.image2{
    position: absolute;
    top: 5px;
     right: 70px;
    transform: rotate(360deg);
}